<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.llawl.tristonpang.intheloop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventsListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".OrganisersActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".MyOrganisedEventsActivity" />
        <activity android:name=".ScannerActivity" />
        <activity android:name=".QRgeneratorActivity" />
        <activity android:name=".EventDetailsOrgActivity" />
        <activity android:name=".EditEventActivity" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".MySignedUpEventsActivity" />
        <activity android:name=".EventDetailsMyActivity"></activity>
    </application>

</manifest>